#map-container {
    background: var(--neutral-layer-2);
    border-radius: 4px;
    min-height: 100px;
    min-width: 100px;
}

    #map-container.horizontal {
        height: 100%;
        width: 50vw;
    }

    #map-container.vertical {
        width: 100%;
        height: 100vh;
    }
