#map-container {
    background: var(--neutral-layer-2);
    border-radius: 4px;
    min-height: 100px;
    min-width: 100px;
    position: relative;
}

.map-card-dots {
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 4px;
}

.map-card-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: none;
    padding: 0;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
}

.map-card-dot-active {
    background: white;
}
